@import 'reset.scss';

$ranimeDarkBlue: #00171F;
$ranimeLightBlue: #003459; //007EA7
$ranimeWhite: #FFFFFF;
$ranimeFontTitle: ;

$headerHeight: 60px;
$logoHeight: 30px;

body {

}

header {
  nav {
    padding:0 10px 0 0;
    width:100%;
    height:$headerHeight;
    line-height:$headerHeight;
    background-color:$ranimeDarkBlue;
    img {
      margin-top:($headerHeight - $logoHeight)/2; //edit this
    }
    ul {
      //Unorder Lists
      li {
        //lists
      }
    }
  }
}

main {

}

footer {

}
