@import 'reset.scss';

$ranimeDarkBlue: #00171F;
$ranimeLightBlue: #003459; //007EA7
$ranimeWhite: #FFFFFF;

$headerHeight: 60px;
$logoHeight: 30px;
$searchBarHeight: 35px;

$sliderHeight: 200px;

body {

}

header {
  nav {
    position:fixed;
    padding:0 5px 0 0;
    width:100%;
    height:$headerHeight;
    line-height:$headerHeight;
    background-color:$ranimeDarkBlue;
    img {
      min-width:160px;
      min-height:30px;
      margin-top:($headerHeight - $logoHeight)/2;
      margin-bottom:($headerHeight - $logoHeight)/2;
      margin-left:-50px;
      float:left;
      display:block-inline;
    }
    form {
      position:absolute;
      float:right;
      left:120px;
      right:30px;
      input[type="text"] {
        width:100%;
        padding-left: 10px;
        height:$searchBarHeight;
      }
    }
  }
}

main {
  position:relative;
  top:$headerHeight;
  section#slider{
    height:$sliderHeight;
    overflow-y:hidden;
    width:100%;
  }
  .carousel-inner > .item > img {
    width:100%;
    margin:auto;
  }
}

// .carousel-inner > .item > img,
// .carousel-inner > .item > a > img {
// width: 100%;
// margin: auto;
// }

footer {

}
